@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #04316a;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media only screen and (min-width:1000px) {
    .computer {
        display: inline-block;
    }
}

@media only screen and (max-width:1000px) {
    .computer {
        display: none;
    }
}

.computer nav {
    width: 100%;
    padding: 0.5vw 5%;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    font-size: 1vw;
    background-color: #10305A;
}

.computer .logo {
    height: 3.125vw;
    float: left;
}

.computer nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

.computer nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.78125vw 1.171875vw;
    padding: 0;
}

.computer nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.25vw;
}

.computer .downloadApp {
    float: right;
    margin-left: 1.5625vw;
}

.computer .btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.78125vw 3.125vw;
    color: #484B55;
    background-color: #ffbe55;
    font-size: 1.1719vw;
    border-radius: 2.34375vw;
}

.headerContent {
    display: block;
}

.computer .header-img {
    width: 50%;
    float: left;
}

.computer .headerDescription {
    width: 50%;
    padding-top: 11.71875vw;
    padding-left: 0.78125vw;
    padding-right: 6%;
    float: left;
    text-align: right;
}

.computer .headerDescription h1 {
    font-size: 2.734375vw;
    color: #00a2ff;
    line-height: 3.90625vw;
    font-weight: 400;
    animation-delay: 0.7s;
}

.computer .headerDescription p {
    margin-top: 1.171875vw;
    padding-right: 1.171875vw;
    color: #4f9da7;
    font-size: 1.71875vw;
    line-height: 2.34375vw;
    animation-delay: 1.4s;
}

.computer .featureContent {
    display: inline-block;
    width: 100%;
    background-color: #FFEFDE;
    margin-top: 4.6875vw;
    padding: 4.6875vw 6%;
    color: #4D4B55;
}

.computer .featureContent h1 {
    font-size: 6.25vw;
    font-weight: 500;
    line-height: 9.375vw;
}

.computer .featureContent h2 {
    font-size: 3.125vw;
    font-weight: 300;
    line-height: 4.6875vw;
}

.computer .featureDescription {
    width: 100%;
    background-color: #04316a;
}

.computer .featureDescription h1 {
    font-size: 6.25vw;
    font-weight: 500;
    display: inline;
}

.computer .featureDescription h2 {
    font-size: 4.6875vw;
    font-weight: 300;
    display: inline;
}

.computer .featureSeparator {
    width: 100%;
    height: 6.25vw;
    background-color: #04316a;
    display: inline-block;
}

.computer.reasonZero {
    height: 20vw;
    background-color: white;
}

.computer .reasonZero1 {
    width: calc(40% - 3.125vw);
    height: 100%;
    background-color: #ffbe55;
    float: left;
}

.computer .reasonZero1ContentWrapper {
    float: right;
    margin-top: 3.90625vw;
}

.computer .reasonZero1ContentWrapper h2 {
    font-size: 6.25vw;
    font-weight: 500;
    color: #484B55;
}

.computer .reasonZero2 {
    width: calc(60% + 3.125vw);
    height: 100%;
    background-color: #04316a;
    float: left;
    border-left: 6.25vw solid #ffbe55;
    border-bottom: 20vw solid transparent;
    box-sizing: border-box;
}

.computer .reasonZero2ContentWrapper {
    float: left;
    margin-top: 3.90625vw;
    color: white;
    padding-left: 2.734375vw;
}

.computer .reasonDescription {
    color: white;
    padding: 1.171875vw 5%;
    float: left;
}

.computer .reasonDescription h1 {
    font-size: 4.6875vw;
    font-weight: 500;
    display: inline;
}

.computer .reasonDescription h2 {
    font-size: 3.125vw;
    font-weight: 300;
    display: inline;
}

.computer .reasonDescription1 {
    width: calc(90% - 25vw);
}

.computer .reasonKey {
    color: #484B55;
    background-color: #ffbe55;
    padding-top: 2.34375vw;
}

.computer .reasonKey1 {
    width: 25vw;
    height: 25vw;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.reasonDescription2 {
    width: calc(90% - 28.125vw);
}

.reasonKey2 {
    width: 28.125vw;
    height: 28.125vw;
    float: left;
    text-align: center;
    margin-left: 10%;
}

.reasonDescription3 {
    width: calc(90% - 25vw);
}

.reasonKey3 {
    width: 25vw;
    height: 25vw;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.reasonDescription4 {
    width: calc(90% - 36.71875vw);
}

.reasonKey4 {
    width: 36.71875vw;
    height: 36.71875vw;
    float: left;
    text-align: left;
    margin-left: 10%;
    padding-left: 1.25vw;
}

.reasonDescription5 {
    width: calc(90% - 25vw);
}

.reasonKey5 {
    width: 25vw;
    height: 25vw;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.footer {
    width: 100%;
    padding: 3.125vw 10%;
    margin-top: auto;
    color: white;
    background-color: #4D4B55;
}

.footer h3 {
    font-weight: 200;
    line-height: 150%;
}

.privacyPolicyWrapper {
    display: block;
    padding: 1.5625vw 10%;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 50px;
}

.privacyPolicyHeader h1 {
    color: white;
    font-size: 26px;
    font-weight: 300;
}


.privacyPolicyHeader h3 {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.level1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.level2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.level3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.textContent {
    color: #ABA9BB;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.textContent a:link {
    color: #ffffff;
}

.textContent a:visited {
    color: #ffffff;
}

.textContent a:hover {
    color: #00A2FF;
}

.textContent a:active {
    color: #00A2FF;
}

.initialAnimation1 {
    opacity: 0;
    transform: scale(0, 0);
    animation: scale1 0.5s linear forwards;
}

@keyframes scale1 {
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.initialAnimation2 {
    opacity: 0;
    transform: translateX(5.46875vw);
    animation: moveLeft1 0.5s linear forwards;
}

@keyframes moveLeft1 {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.hidden1 {
    opacity: 0;
    transform: translateX(5.46875vw);
    transition: all 1s;
}

.scrollAnimationMoveLeft1 {
    opacity: 1;
    transform: translateX(0);
}

.hidden2 {
    transform: translateX(-7.8125vw);
    transition: all 0.2s;
}

.scrollAnimationMoveRight2 {
    transform: translateX(0);
}

.hidden3 {
    transform: translateX(7.8125vw);
    transition: all 0.2s;
}

.scrollAnimationMoveLeft2 {
    transform: translateX(0);
}

.hidden4 {
    opacity: 0;
    transform: scale(0, 0);
    transition: all 1s;
}

.scrollAnimationScale {
    opacity: 1;
    transform: scale(1, 1);
}