@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #04316a;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media only screen and (min-width:1000px) {
    .computer {
        display: inline-block;
    }

    .privacyPolicyWrapper {
        margin-top: 7vw;
    }
}

@media only screen and (max-width:1000px) {
    .computer {
        display: none;
    }
}

.computer nav {
    width: 100%;
    height: 4.2vw;
    padding: 0.60vw 5%;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    font-size: 1vw;
    background-color: #04316a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    box-shadow: 0 0px 0.5vw 0.25vw rgba(0, 0, 0, 0.19);
}

.computer nav .logo {
    height: 2.9vw;
    padding-top: 0.06vw;
    float: left;
}

.computer nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

.computer nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.78125vw 1.171875vw;
    padding: 0;
}

.computer nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.25vw;
}

.computer .downloadApp {
    float: right;
    margin-left: 1.5625vw;
}

.computer .btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.78125vw 3.125vw;
    color: #484B55;
    background-color: #ffbe55;
    font-size: 1.1719vw;
    border-radius: 2.34375vw;
}

.computer .headerContent {
    display: block;
    margin-top: 4.2vw;
}

.computer .header-img {
    width: 50%;
    float: left;
}

.computer .headerDescription {
    width: 50%;
    padding-top: 3vw;
    padding-left: 0.78125vw;
    padding-right: 6%;
    float: left;
    text-align: right;
}

.computer .headerDescription h1 {
    font-size: 2.734375vw;
    color: #00a2ff;
    line-height: 3.90625vw;
    font-weight: 400;
    animation-delay: 0.7s;
}

.computer .headerDescription p {
    margin-top: 1.171875vw;
    padding-right: 1.171875vw;
    color: #4f9da7;
    font-size: 1.71875vw;
    line-height: 2.34375vw;
    animation-delay: 1.4s;
}

.computer .screenShotsContainer {
    position: relative;
    width: 50%;
    min-height: 45vw;
    float: right;
    display: block;
    text-align: left;
    z-index: 5;
}

.computer .screenShots {
    display: inline-block;
    position: absolute;
    height: 40vw;
    margin-top: 4vw;
    border-radius: 20px;
    box-shadow: 0 0px 0.75vw 0.5vw rgba(0, 0, 0, 0.15);
}

.screenShot1 {
    margin-left: 10%;
    scale: 0.7;
    z-index: 8;
    transition: margin-left linear .2s, scale linear .2s, z-index linear .2s;
}

.screenShot2 {
    margin-left: 22%;
    scale: 0.85;
    z-index: 9;
    transition: margin-left linear .2s, scale linear .2s, z-index linear .2s;
}

.screenShot3 {
    margin-left: 40%;
    scale: 1.0;
    z-index: 10;
    transition: margin-left linear .2s, scale linear .2s;
}

.screenShot4 {
    margin-left: 53%;
    scale: 0.85;
    z-index: 9;
    transition: margin-left linear .2s, scale linear .2s, z-index linear .1s;
}

.screenShot5 {
    margin-left: 63%;
    scale: 0.7;
    z-index: 8;
    transition: margin-left linear .2s, scale linear .2s, z-index linear .2s;
}

.screenShot6 {
    margin-left: 40%;
    scale: 0.6;
    z-index: 7;
    transition: margin-left linear .2s, scale linear .2s, z-index linear .2s;
}

.screenShotsNavigatorContainer {
    position: relative;
    width: 80%;
    min-height: 0.9375vw;
    float: right;
    display: block;
    z-index: 5;
}

.screenShotsNavigator {
    width: 20%;
    min-height: 0.9375vw;
    margin-left: 64.05%;
    text-align: center;
    z-index: 5;
}

.screenShotsNavigatorTab {
    display: inline-block;
    width: 0.9375vw;
    height: 0.9375vw;
    border-radius: 50%;
    border: 2px solid #00A2FF;
    margin-left: 0.15625vw;
    margin-right: 0.15625vw;
    cursor: pointer;
}

.screenShotsNavigator .selected {
    background-color: #00A2FF;
    cursor: default;
}

.computer .featureContent {
    display: inline-block;
    width: 100%;
    background-color: #fcdebf;
    margin-top: 4.6875vw;
    padding-left: 10vw;
    color: #4D4B55;
}

.computer .featureContent .fiveReason {
    height: 34vw;
    overflow: hidden;
    display: block;
    float: left;
}

.computer .featureContent .fiveReason img {
    display: block;
    height: 45vw;
    position: relative;
    top: -6vw;
}

.computer .featureContent .featureContentText {
    display: block;
    height: 34vw;
    width: 30vw;
    float: left;
}

.computer .featureContent h1 {
    font-size: 6.25vw;
    font-weight: 500;
    /* line-height: 6.375vw; */
    position: relative;
    top: 6vw;
    left: -5vw;
}

.computer .featureContent h2 {
    font-size: 3.125vw;
    font-weight: 300;
    line-height: 3vw;
    position: relative;
    top: 5vw;
    left: 2vw;
}

.computer .featureDescription {
    width: 100%;
    background-color: #04316a;
}

.computer .featureDescription h1 {
    font-size: 6.25vw;
    font-weight: 500;
    display: inline;
}

.computer .featureDescription h2 {
    font-size: 4.6875vw;
    font-weight: 300;
    display: inline;
}

.computer .featureSeparator {
    width: 100%;
    height: 6.25vw;
    background-color: #04316a;
    display: inline-block;
}

.computer .reasonZero {
    height: 20vw;
    background-color: white;
}

.computer .reasonZero1 {
    width: calc(40% - 3.125vw);
    height: 100%;
    background-color: #ffbe55;
    float: left;
}

.computer .reasonZero1ContentWrapper {
    float: right;
    margin-top: 4vw;
}

.computer .reasonZero1ContentWrapper h2 {
    font-size: 6.25vw;
    font-weight: 500;
    color: #484B55;
}

.computer .reasonZero2 {
    width: calc(60% + 3.125vw);
    height: 100%;
    background-color: #04316a;
    float: left;
    border-left: 6.25vw solid #ffbe55;
    border-bottom: 20vw solid transparent;
    box-sizing: border-box;
}

.computer .reasonZero2ContentWrapper {
    float: left;
    margin-top: 4vw;
    color: white;
    padding-left: 2.734375vw;
    padding-top: 0.8vw;
}

.computer .reasonDescription {
    color: white;
    padding: 1.171875vw 5%;
    float: left;
}

.computer .reasonDescription h1 {
    font-size: 4.6875vw;
    font-weight: 500;
    display: inline;
}

.computer .reasonDescription h2 {
    font-size: 3.125vw;
    font-weight: 300;
    display: inline;
}

.computer .reasonDescription1 {
    width: calc(90% - 25vw);
}

.computer .reasonKey {
    color: #484B55;
    background-color: #ffbe55;
    padding-top: 2.34375vw;
}

.computer .reasonKey1 {
    width: 25vw;
    height: 25vw;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.computer .reasonDescription2 {
    width: calc(90% - 28.125vw);
}

.computer .reasonKey2 {
    width: 28.125vw;
    height: 28.125vw;
    float: left;
    text-align: center;
    margin-left: 10%;
}

.computer .reasonDescription3 {
    width: calc(90% - 25vw);
}

.computer .reasonKey3 {
    width: 25vw;
    height: 25vw;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.computer .reasonDescription4 {
    width: calc(90% - 36.71875vw);
}

.computer .reasonKey4 {
    width: 36.71875vw;
    height: 36.71875vw;
    float: left;
    text-align: left;
    margin-left: 10%;
    padding-left: 1.25vw;
}

.computer .reasonDescription5 {
    width: calc(90% - 25vw);
}

.computer .reasonKey5 {
    width: 25vw;
    height: 25vw;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.footerSeparator {
    width: 100%;
    height: 8px;
    background-color: #ffbe55;
    margin-top: 8vw;
}

.footer {
    display: inline-block;
    width: 100%;
    text-align: left;
    vertical-align: top;
    color: white;
    background-color: #3D3B42;
    padding-top: 6vw;
    padding-bottom: 3vw;
}

.subFooter {
    float: left;
    min-height: 200px;
    padding: 0 6vw;
}

.computer .footer .logo {
    height: 2.8vw;
}

.computer .footer .footerLogo {
    width: 3vw;
    height: 3vw;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-right: 1.5vw;
}

#linkedInLogo {
    padding: 0.3vw;
}

#facebookLogo {
    padding: 0.3vw;
}

#instagramLogo {
    padding: 0.3vw;
}

#youtubeLogo {
    padding: 0.2vw;
}

#xLogo {
    padding: 0.3vw;
}

.footer h3 {
    font-size: 16px;
    font-weight: 450;
    line-height: 100%;
    color: #ffbe55;
}

.footer h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #fcdebf;
}

.footer a {
    text-decoration: none;
    color: #fcdebf;
}

.privacyPolicyWrapper {
    display: block;
    padding: 1.5625vw 10%;
    text-justify: inter-word;
}

.privacyPolicyHeader h1 {
    color: white;
    font-size: 26px;
    font-weight: 300;
}

.privacyPolicyHeader h3 {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.level1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.level2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.level3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.textContent {
    color: #ABA9BB;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}

.textContent a:link, .information a:link {
    color: #ffffff;
}

.textContent a:visited, .information a:visited {
    color: #ffffff;
}

.textContent a:hover, .information a:hover {
    color: #00A2FF;
}

.textContent a:active, .information a:active {
    color: #00A2FF;
}

@media only screen and (min-width:1000px) {
    .information {
        color: #ABA9BB;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
    }
}

@media only screen and (max-width:1000px) {
    .information {
        color: #ABA9BB;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
    }
}    

.initialAnimation1 {
    opacity: 0;
    transform: scale(0, 0);
    animation: scale1 0.5s linear forwards;
}

.descriptionSectionWrapper {
    width: 100%;
    display: inline-block;
}

@media only screen and (min-width:1000px) {
    .textAvatar {
        float: left;
        padding: 3vw;
        margin: 5vw 5vw 5vw 2.5vw;
        border-radius: 50%;
        box-shadow: 0.125vw 0.1vw 0.75vw 0.5vw rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffbe55;
        font-size: 3.2vw;
        font-weight: 200;
        line-height: 120%;
        width: 23vw;
        height: 23vw;
    }
}

@media only screen and (max-width:1000px) {
    .textAvatar {
        float: left;
        width: 60vw;
        height: 60vw;
        padding: 3vw;
        margin: 5vw 5vw 0vw 2.5vw;
        border-radius: 50%;
        box-shadow: 0.125vw 0.1vw 0.75vw 0.5vw rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffbe55;
        font-size: 9vw;
        font-weight: 300;
        line-height: 120%;
    }
}

.aboutAvatarText {
    margin-top: 12.5vw;
}

.qaSeparator {
    width: 100%;
    height: 10px;
}

.foundarAvatar {
    float: left;
    width: 25vw;
    height: 25vw;
    margin: 5vw 5vw 5vw 2.5vw;
    padding: 1.6vw;
    border-radius: 50%;
    box-shadow: 0.125vw 0.1vw 0.75vw 0.5vw rgba(0, 0, 0, 0.15);
}

.founderNote {
    margin-top: 14vw;
}

@media only screen and (min-width:1000px) {
    .avatarSideText {
        float: left;
        margin-bottom: 5vw;
        width: 40vw;
        padding: 2.4vw 1vw 8vw 3vw;
        border-radius: 2vw 0 0 0;
        border-left: 1px solid #4f9da7;
        border-top: 1px solid #4f9da7;
        font-size: 1.5vw;
        font-weight: 200;
        line-height: 175%;
        text-align: left;
        color: #fcdebf;
    }
}

@media only screen and (max-width:1000px) {
    .avatarSideText {
        float: right;
        margin: 10vw 0vw 15vw 0;
        width: 80vw;
        padding: 5vw 5vw 10vw 6vw;
        border-radius: 5vw 0 0 0;
        border-left: 1px solid #4f9da7;
        border-top: 1px solid #4f9da7;
        font-size: 16px;
        font-weight: 300;
        line-height: 175%;
        text-align: left;
        color: #fcdebf;
    }
}

.aboutAvatarText .information {
    text-align: left;
    color: #fcdebf;
    font-weight: 200;
}

@keyframes scale1 {
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.initialAnimation2 {
    opacity: 0;
    transform: translateX(5.46875vw);
    animation: moveLeft1 0.5s linear forwards;
}

@keyframes moveLeft1 {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.hidden1 {
    opacity: 0;
    transform: translateX(5.46875vw);
    transition: all 1s;
}

.scrollAnimationMoveLeft1 {
    opacity: 1;
    transform: translateX(0);
}

.hidden2 {
    transform: translateX(-7.8125vw);
    transition: all 0.2s;
}

.scrollAnimationMoveRight2 {
    transform: translateX(0);
}

.hidden3 {
    transform: translateX(7.8125vw);
    transition: all 0.2s;
}

.scrollAnimationMoveLeft2 {
    transform: translateX(0);
}

.hidden4 {
    opacity: 0;
    transform: scale(0, 0);
    transition: all 1s;
}

.scrollAnimationScale {
    opacity: 1;
    transform: scale(1, 1);
}