@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #04316a;
    padding: 0px 0%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 40px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #484B55;
    background-color: #ffbe55;
    font-size: 14px;
    border-radius: 30px;
}

.headerContent{
    display: block;
}

.header-img{
    width: 50%;
    float: left;
}

.headerDescription{
    width: 50%;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 6%;
    float: left;
    text-align: right;
}

.headerDescription h1{
    font-size: 35px;
    color: #00a2ff;
    line-height: 50px;
    font-weight: 400;
    animation-delay: 0.7s;
}

.headerDescription p{
    margin-top: 15px;
    padding-right: 15px;
    color: #4f9da7;
    font-size: 22px;
    line-height: 30px;
    animation-delay: 1.4s;
}

.featureContent{
    display: inline-block;
    width: 100%;
    background-color: #FFEFDE;
    margin-top: 60px;
    padding: 60px 6%;
    color: #4D4B55;
}

.featureContent h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 120px;
}

.featureContent h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
}

.featureDescription{
    width: 100%;
    background-color: #04316a;
}

.featureDescription h1{
    font-size: 80px;
    font-weight: 500;
    display: inline;
}

.featureDescription h2{
    font-size: 60px;
    font-weight: 300;
    display: inline;
}

.featureSeparator{
    width: 100%;
    height: 80px;
    background-color: #04316a;
    display: inline-block;
}

.reasonZero{
    height: 250px;
    background-color: white;
}

.reasonZero1{
    width: calc(40% - 40px);
    height: 100%;
    background-color: #ffbe55;
    float: left;
}

.reasonZero1ContentWrapper{
    float: right;
    margin-top: 50px;
}

.reasonZero1ContentWrapper h2{
    font-size: 80px;
    font-weight: 500;
    color: #484B55;
}

.reasonZero2{
    width: calc(60% + 40px);
    height: 100%;
    background-color: #04316a;
    float: left;
    border-left: 80px solid #ffbe55;
    border-bottom: 250px solid transparent;
    box-sizing: border-box;
}

.reasonZero2ContentWrapper{
    float: left;
    margin-top: 50px;
    color: white;
    padding-left: 35px;
}

.reasonDescription{
    color: white;
    padding: 15px 5%;
    float: left;
}

.reasonDescription h1{
    font-size: 60px;
    font-weight: 500;
    display: inline;
}

.reasonDescription h2{
    font-size: 40px;
    font-weight: 300;
    display: inline;
}

.reasonDescription1{
    width: calc(90% - 320px);
}

.reasonKey{
    color: #484B55;
    background-color: #ffbe55;
    padding-top: 30px;
}

.reasonKey1{
    width: 320px;
    height: 320px;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.reasonDescription2{
    width: calc(90% - 360px);
}

.reasonKey2{
    width: 360px;
    height: 360px;
    float: left;
    text-align: center;
    margin-left: 10%;
}

.reasonDescription3{
    width: calc(90% - 320px);
}

.reasonKey3{
    width: 320px;
    height: 320px;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.reasonDescription4{
    width: calc(90% - 470px);
}

.reasonKey4{
    width: 470px;
    height: 470px;
    float: left;
    text-align: left;
    margin-left: 10%;
    padding-left: 16px;
}

.reasonDescription5{
    width: calc(90% - 320px);
}

.reasonKey5{
    width: 320px;
    height: 320px;
    float: left;
    text-align: center;
    margin-right: 10%;
}

.footer{
    width: 100%;
    padding: 40px 10%;
    margin-top: auto;
    color: white;
    background-color: #4D4B55;
}

.footer h3{
    font-weight: 200;
    line-height: 150%;
}

.privacyPolicyHeader{
   padding: 20px 6%; 
}

.privacyPolicyHeader h3{
    color: white;
    font-weight: 200;
}

.privacyPolicyHeader p{
    color: #00a2ff;
}

.initialAnimation1{
    opacity: 0;
    transform: scale(0,0);
    animation: scale1 0.5s linear forwards;
}

@keyframes scale1 {
    100%{
        opacity: 1;
        transform: scale(1,1);
    }
}

.initialAnimation2{
    opacity: 0;
    transform: translateX(100px);
    animation: moveLeft1 0.5s linear forwards;
}

@keyframes moveLeft1 {
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.scrollAnimationMoveLeft{
    animation: moveLeft2 linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes moveLeft2 {
    0%{
        opacity: 0;
        transform: translateX(70px);
    }
    20%{
        opacity: 0;
        transform: translateX(70px);
    }
    80%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.scrollAnimationMoveRight2{
    animation: moveRight2 linear both;
    animation-timeline: view();
    animation-range: entry 70% cover 70%;
}

@keyframes moveRight2 {
    0%{
        transform: translateX(-100px);
    }
    20%{
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(0px);
    }
}

.scrollAnimationMoveLeft2{
    animation: moveLeft3 linear both;
    animation-timeline: view();
    animation-range: entry 70% cover 70%;
}

@keyframes moveLeft3 {
    0%{
        transform: translateX(100px);
    }
    20%{
        transform: translateX(100px);
    }
    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(0px);
    }
}

.scrollAnimationScale{
    opacity: 0;
    transform: scale(0,0);
    animation: scale2 1s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes scale2 {
    0%{
        opacity: 0;
        transform: scale(0,0);
    }
    20%{
        opacity: 0;
        transform: scale(0,0);
    }
    80%{
        opacity: 1;
        transform: scale(1,1);
    }
    100%{
        opacity: 1;
        transform: scale(1,1);
    }
}





