@media only screen and (min-width:1000px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width:1000px) {
    .mobile {
        display: inline-block;
    }

    .privacyPolicyWrapper {
        padding: 10vw 5vw;
        margin-top: 15vw;
    }

    .information {
        text-align: left;
    }
}

.mobile nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 4vw 5%;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    font-size: 1vw;
    background-color: #04316a;
    height: 15vw;
}

.mobile nav .logo {
    height: 7vw;
    float: left;
}

.mobile .menuButtonContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 15vw;
    padding: 4vw 5%;
    display: block;
    align-items: center;
    margin: 0;
    font-size: 1vw;
    height: 15vw;
    color: #ffffff;
    z-index: 4;
}

.mobile .menuButton {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    margin: 1.5vw 0vw;
}

.mobile #menuButton {
    display: block;
    float: right;
    background-image: url("images/menuButton.png");
}

.mobile #closeButton {
    display: none;
    float: right;
    background-image: url("images/closeButton.png");
}

.mobile #sideNavBarrier {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}

.mobile .sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #00142c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20vw;
}

.mobile .sidenav a {
    width: 100%;
    margin: 5vw 10vw 5vw 0vw;
    padding: 2vw 10vw 2vw 0vw;
    text-decoration: none;
    text-align: right;
    font-size: 6vw;
    font-weight: 400;
    color: #4f9da7;
    display: block;
    transition: 0.3s;
}

.mobile .sidenav a:hover {
    color: #00a2ff;
  }

.mobile .header-img {
    width: 100%;
    float: left;
    margin-top: 15vw;
}

.mobile .headerDescription {
    width: 100%;
    padding: 8vw 0;
    float: left;
    text-align: center;
}

.mobile .headerDescription h1 {
    font-size: 5.2vw;
    color: #00a2ff;
    line-height: 6.2vw;
    font-weight: 400;
}

.mobile .headerDescription p {
    margin-top: 1.5vw;
    color: #4f9da7;
    font-size: 3.8vw;
    line-height: 4.7vw;
}

.mobile .downloadApp {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 6vw;
}

.mobile .playStoreImage {
    display: inline-block;
    text-decoration: none;
    width: 48vw;
}

.mobile .featureContent {
    display: inline-block;
    width: 100%;
    background-color: #FFEFDE;
    padding-left: 7vw;
    color: #4D4B55;
}

.mobile .featureContent .fiveReason {
    height: 50vw;
    overflow: hidden;
    display: block;
    float: left;
}

.mobile .featureContent .fiveReason img {
    display: block;
    height: 65vw;
    position: relative;
    top: -8vw;
}

.mobile .featureContent .featureContentText {
    display: block;
    height: 50vw;
    width: 30vw;
    float: left;
}

.mobile .featureContent h2 {
    font-size: 6vw;
    font-weight: 200;
    line-height: 5.5vw;
    position: relative;
    top: 7vw;
}

.mobile .featureContent h1 {
    font-size: 9vw;
    font-weight: 500;
    line-height: 9.375vw;
    position: relative;
    top: 10vw;
    left: -9vw;
}

.mobile .featureDescription {
    width: 100%;
    background-color: #04316a;
}

.mobile .featureDescription h1 {
    font-size: 7vw;
    font-weight: 500;
    display: inline;
}

.mobile .featureDescription h2 {
    font-size: 5vw;
    font-weight: 300;
    display: inline;
}

.mobile .reasonZero {
    height: 20vw;
    background-color: white;
}

.mobile .reasonZero1 {
    width: calc(40% - 3.125vw);
    height: 100%;
    background-color: #ffbe55;
    float: left;
}

.mobile .reasonZero1ContentWrapper {
    float: right;
    margin-top: 4vw;
}

.mobile .reasonZero1ContentWrapper h2 {
    font-size: 6.25vw;
    font-weight: 500;
    color: #484B55;
}

.mobile .reasonZero2 {
    width: calc(60% + 3.125vw);
    height: 100%;
    background-color: #04316a;
    float: left;
    border-left: 6.25vw solid #ffbe55;
    border-bottom: 20vw solid transparent;
    box-sizing: border-box;
}

.mobile .reasonZero2ContentWrapper {
    float: left;
    margin-top: 4vw;
    color: white;
    padding-left: 2.734375vw;
    padding-top: 0.8vw;
}

.mobile .featureSeparator {
    width: 100%;
    height: 18vw;
    background-color: #04316a;
    display: inline-block;
}

.mobile .reasonDescription {
    color: white;
    padding: 1.171875vw 0vw 1.171875vw 5vw;
    float: left;
}

.mobile .reasonDescription h1 {
    font-size: 7vw;
    font-weight: 500;
    display: inline;
}

.mobile .reasonDescription h2 {
    font-size: 5vw;
    font-weight: 300;
    display: inline;
}

.mobile .reasonKey {
    color: #484B55;
    background-color: #ffbe55;
    padding-top: 4.5vw;
}

.mobile .reasonDescription1 {
    width: 61vw;
}

.mobile .reasonKey1 {
    width: 34vw;
    height: 34vw;
    float: right;
    text-align: center;
    margin-top: 3.8vw;
}

.mobile .reasonDescription2 {
    width: 55vw;
}

.mobile .reasonKey2 {
    width: 40vw;
    height: 40vw;
    float: left;
    text-align: center;
    margin-top: 3.8vw;
}

.mobile .reasonDescription3 {
    width: 65vw;
}

.mobile .reasonKey3 {
    width: 30vw;
    height: 30vw;
    float: right;
    text-align: center;
    margin-top: 3.8vw;
}

.mobile .reasonDescription4 {
    width: 54vw;
}

.mobile .reasonKey4 {
    width: 41vw;
    height: 41vw;
    float: left;
    text-align: left;
    padding-left: 1.7vw;
    margin-top: 3.8vw;
}

.mobile .reasonDescription5 {
    width: 63vw;
}

.mobile .reasonKey5 {
    width: 32vw;
    height: 32vw;
    float: right;
    text-align: center;
    margin-top: 3.8vw;
}


